.App {
  max-width: 880px;
  margin: 0 auto;
}

.login-form {
  width: 450px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;

  border: 5px dashed darkcyan;
}

.login-form input {
  width: 250px;
  height: 25px;
  font-size: 16pt;
  margin: 20px;
  margin-left: 100px;
}
.login-form h1 {
  margin: 20px;
}

.login-form button {
  width: 250px;
  height: 50px;
  font-size: 24px;
  margin: 20px;
  margin-left: 100px;
  color: white;
  background-color: darkcyan;
}

.jokes-link {
  font-size: 44px;
  color: black;
  text-decoration: underline;
}

.jokes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.joke {
  width: 150px;
  padding: 15px;
  margin: 20px;

  background-color: darkcyan;
  color: white;
}
