.App {
  max-width: 880px;
  margin: 0 auto;
}

.login-form {
  width: 450px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;

  border: 5px dashed darkcyan;
}

.login-form input {
  width: 250px;
  height: 25px;
  font-size: 16pt;
  margin: 20px;
  margin-left: 100px;
}
.login-form h1 {
  margin: 20px;
}

.login-form button {
  width: 250px;
  height: 50px;
  font-size: 24px;
  margin: 20px;
  margin-left: 100px;
  color: white;
  background-color: darkcyan;
}

.jokes-link {
  font-size: 44px;
  color: black;
  text-decoration: underline;
}

.jokes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.joke {
  width: 550px;
  height: 150px;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 15px 20px lightblue;

  background-color: darkcyan;
  color: white;
}

.next {
  width: 90px;
  height: 60px;
  border-radius: 50%;
  background-color: beige;
  align-self: center;
  text-align: center;
  padding-top: 25px;
  font-size: 24px;
  cursor: pointer;
  margin-left: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.emoji {
  width: 40px;
  height: 40px;
  margin: 0 5px;

  background-size: 100%;
  background-repeat: no-repeat;

  background-image: url(./awesome-emoji.png);
}
